{% extends "layout.html.twig" %}


{% block content %}

    <!-- Header -->
    {% include 'component/_navbar.html.twig' %}
    <!-- The 3 offers -->
        <div class="container">
            <div>
                <h2 class="my-3">Choisissez votre offre</h2>
            </div>
            <div class="row">
                {% for offers in offers %}
                <div class="col-sm-4">
                    <div class="card">
                        <div style="height: 300px">
                            <img class="card-img-top"
                                 src="{{ asset('images/product/' ~ offers.pictures) }}"
                                 alt="Card image cap" style="width: 100%; height: 100%">
                        </div>
                        <h3 class="text-center mt-3">{{ offers.offername }}</h3>
                        <div class="card-body">
                            <div style="height: 300px">
                                <p class="card-text">{{ offers.description }}</p>
                                <p class="card-text">{{ offers.options }}</p>
                            </div>
                            <div>
                                <a href="#" class="button big alt">{{ offers.price }}</a>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br><br>

            <div>
                <h2 class="text-center">
                    Personnaliser mon offre
                </h2>
            </div>
            <div id="personalizeOffer" class="form-group">
                <form action="{{ path('offers_page') }}" method="post">
                    {{ form_widget(form) }}
                </form>
            </div>
        </div>
    {% include 'component/_footer.html.twig' %}


{% endblock %}




