{% extends "layout.html.twig" %}


{% block content %}

    <!-- Header -->
    <header class="head-color">
    </header>
    <!-- The 3 offers -->
        <div class="container">
            <div class="choice">
                <h2 class="my-3">Choisissez votre offre</h2>
            </div>
            <div class="row">
                {% for offers in offers %}
                <div class="col-sm-4">
                    <div class="card">
                        <div style="height: 300px">
                            <img class="card-img-top"
                                 src="{{ asset('images/product/' ~ offers.pictures) }}"
                                 alt="Card image cap" style="width: 100%; height: 100%">
                        </div>
                        <h3 class="text-center mt-3">{{ offers.offername }}</h3>
                        <div class="card-body">
                            <div class="description-offers">
                                <p class="card-text">{{ offers.description }}</p>
                            </div>
                            <div class="options-offers">
                                <p class="car-text">{{ offers.options }}</p>
                            </div>
                            <div class="price-offers">
                                <a href="#" class="button big alt" >{{ offers.price }}</a>
                            </div>
                            <div class="time-loc-classic">
                                <p>Location de 3 mois</p>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <br>
            <div>
                <h2 class="text-center">
                    Personnaliser mon offre
                </h2>
            </div>
            <div id="personalizeOffer" class="form-group">
                {{ form(form) }}
            </div>
        </div>
{% endblock %}




