<!-- Header -->

<section id="one">
<body class="landing">
<header id="header" class="alt">
    <h1><a href="{{ path('home_page') }}">LocTaTrott'</a></h1>
    <a href="#nav">Menu</a>
</header>
</section>

<!-- Nav -->

<nav id="nav">
    <ul class="links">


        <li><a href="/">LocTaTrott'</a></li>
        <li><a href="{{ path('home_page') }}">Accueil</a></li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a href="{{ path('security_deconnexion') }}" style="color: red">Deconnexion</a>

            </li>
            <li>
                <a href="{{ path('account_reset_password') }}">Modifier mon mot de passe</a>
            </li>
            <li>
                <a href="{{ path('account_delete') }}">Supprimer mon compte</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('back_office') }}">Administration</a>
                </li>
            {% endif %}
        {% else %}
            <li>
                <a href="{{ path('security_connexion') }}" style="color: #51BAA4;">Connexion</a>
            </li>
            <li>
                <a href="{{ path('new_clients') }}">Inscription</a>
            </li>

        {% endif %}
        <li><a href="{{ 'contact' }}">Contact</a> </li>

    </ul>
</nav>