{% extends 'back/backHome.html.twig' %}

{% block body %}
<div >
        <h3 style="text-align:center;">Gestion des Trotinettes</h3>
        <div class="row">
            <div class="col offset-5">
            <button class="button alt" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus"></i> Ajouter une Trot
            </button>
            </div>
        </div><br>

{#{{ dump(firstOffer) }}#}



        <h2>OFFRE 1</h2>
        <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Marque</th>
                    <th scope="col">Model</th>
                    <th scope="col">SerialNumber</th>
                    <th scope="col">Date arrivage</th>
                    <th scope="col">supprimer</th>
                </tr>
                </thead>
                <tbody id="list0">
                {% for scooter in firstOffer %}
                    <tr class="scooter-js">
                        <td>{{ scooter.idscooter }} </td>
                        <td>{{ scooter.scooterName }} </td>
                        <td>{{ scooter.scooterModel }} </td>
                        <td>05646514</td>
                        <td>{{ scooter.scooterDateEntry|date('d-m-Y') }}</td>
                        <td><a class="btn-js" href="javascript:void(0)" onclick="deleteScooter({{ scooter.idscooter }});"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        <h2>OFFRE 2</h2>
        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-light">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Marque</th>
                <th scope="col">Model</th>
                <th scope="col">SerialNumber</th>
                <th scope="col">Date arrivage</th>
                <th scope="col">supprimer</th>
            </tr>
            </thead>
            <tbody id="list1">
            {% for scooter in secondOffer %}
                <tr class="scooter-js">
                    <td>{{ scooter.idscooter }} </td>
                    <td>{{ scooter.scooterName }} </td>
                    <td>{{ scooter.scooterModel }} </td>
                    <td>05646514</td>
                    <td>{{ scooter.scooterDateEntry|date('d-m-Y') }}</td>
                    <td><a class="btn-js" href="javascript:void(0)" onclick="deleteScooter({{ scooter.idscooter }});"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



        <h2>OFFRE 3</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Marque</th>
                <th scope="col">Model</th>
                <th scope="col">SerialNumber</th>
                <th scope="col">Date arrivage</th>
                <th scope="col">supprimer</th>
            </tr>
            </thead>
            <tbody id="list2">
            {% for scooter in thirdOffer %}
                <tr class="scooter-js">
                    <td>{{ scooter.idscooter }} </td>
                    <td>{{ scooter.scooterName }} </td>
                    <td>{{ scooter.scooterModel }} </td>
                    <td>05646514</td>
                    <td>{{ scooter.scooterDateEntry|date('d-m-Y') }}</td>
                    <td><a class="btn-js" href="javascript:void(0)" onclick="deleteScooter({{ scooter.idscooter }});"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



</div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalTitle">Ajout d'une trotinette</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>#}
    {#<script>paypal.Buttons().render('body');</script>#}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
    <script>

    $('#exampleModal').on('shown.bs.modal', function () {
        var modal = $(this);
        $.ajax('{{ path('scooter_new') }}', {
            success: function(data) {
                modal.find('.modal-body').html(data);
            }
        });
    });
    {#$(document).on('hide.bs.modal', function () {#}
        {#var tab = $(this);#}
        {#$.ajax('{{ path('scooter_new') }}', {#}
            {#success: function(data) {#}
                {#console.log(data),#}
                {#tab.find('#list').html(data);#}
            {#}#}
        {#});#}
    {#});#}
    // $(document).on('hide.bs.modal', function (){
    // var element=document.querySelector('.scooter-js');
    // console.log(element);
    // $.ajax({
    //     type: 'POST',
    //     url: '/scooter/tab_stock/' + idScooter,
    //     data: {idScooter: idScooter},
    //     dataType: 'JSON',
    // })
    //     .done((data) => {
    //         console.log(data);
    //
    //             element.remove();
    //
    //     })
    // });


    function deleteScooter(idScooter) {

        $.ajax({
            type: 'POST',
            url: '/scooter/delete/' + idScooter,
            data: {idScooter: idScooter},
            dataType: 'JSON',
        })
            .done((data) => {
                console.log(data);


                    $('.btn-js').on('click',function(){
                        let element = $(this).closest('tr');
                        console.log(element);
                        element.remove();


                });

            });
    };

    $(document).on('submit', 'form', function(e){
        e.preventDefault();

        $form = $(e.target);
        $modal = $('#exampleModal');

        var title = $('name').val();

        var $submitButton = $form.find(':submit');
        $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
        $submitButton.prop('disabled', true);

        $form.ajaxSubmit({
            type: 'post',
            success: function(data) {
                console.log(data);
                if (data['envoie'] === 'ok') {
                    $("#exampleModal").modal('toggle');  // Ne fonctionne absolument pas
                   // $(".modal-backdrop").removeClass('show');
                    $(".modal-backdrop").remove();
                    $('#list'+data['idoffer']).append('<tr><td> a </td><td> '+ data['name'] +' </td><td>'+ data['model'] +' </td><td>'+ data['SerialNumber'] +' </td><td>Today</td></tr>');

                } else {
                    $modal.find('.modal-body').html(data);
                }
            },
            error: function(jqXHR, status, error) {
                $submitButton.html(button.data('label'));
                $submitButton.prop('disabled', false);
            }
        });
    });
</script>

{% endblock  %}